<h1>{{ page.title }}</h1>

$$
\mathbf{\text{Wonjun Park}} \\
\text{Computer Science} \\
\text{University of Texas at Arlington} \\
\text{Arlington, TX, United States}
$$

<h5><i>Abstract</i></h5>

{{ page.abstract }}

$$
\mathbf{\text{Acronym and Abbreviation}} \\
\begin{array}{|c|c|}
\hline
\text{Binary Search Tree (BST)} & \text{Minimum Spanning Tree (MST)} \\
\hline
\text{Single Source Single Destination (SSSD)} & \text{Single Source Multiple Destination (SSMD)} \\
\hline
\text{Multiple Source Single Destination (MSSD)} & \text{Multiple Source Multiple Destination (MSMD)} \\
\hline
\text{} & \text{} \\
\hline
\end{array}
$$

<h5>Keywords</h5>

<b>Minimum Spanning Tree</b>: A tree that connects all the vertices in a graph with the minimum possible total edge weight. The tree has $n-1$ edges where $n$ is the number of vertices in the graph.
